# Dependencies
/node_modules
/dist

# Compiled output
/dist
/dist-server
/dist-test
/tmp
/out-tsc

# Log files
/logs
*.log

# IDE files
.idea
.vscode

# Miscellaneous
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/coverage
*.swp
*.lock
*.md
*.java